*{
  padding: 0;
  margin: 0;
}
HTMl{
  min-height: 100%;
  font-family: roboto;
  font-weight: 200;
}
body{
  padding: 0;
  margin: 0;
}
#picBoven{
  width: 50px;
  position: fixed;
  padding-left: 25px;
  padding-top: 13px;
  cursor: pointer;
}
#navbar{

  display:block;
  padding: 0;
  margin: 0;
  color: #4b4b4b;
  position: fixed;
  left: -330px;
  list-style: none;
  width: 330px;
  height: 100%;
  background-color: white;
  font-size: 180%;
  z-index: 800;
  transition: left 0.4s;

}
#onHover1{
  display: none;
  visibility: hidden;
  list-style: none;
  font-size: 80%;
  padding-left: 82px;
  padding-bottom: 10px;
  height: 0;
  transition: height 0.5s;
  margin: 0;

}
#onHover2{
  display: none;
  visibility: hidden;
  list-style: none;
  font-size: 80%;
  padding-left: 82px;
  padding-bottom: 10px;

}
#onHover3{
  display: none;
  visibility: hidden;
  list-style: none;
  font-size: 80%;
  padding-left: 82px;
  padding-bottom: 10px;

}

.navpic-container{
  width:30%;
  height:100%;
  float:left;
  position: relative;
}

.picNav{
  height: 70%;
  display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.navp{
  float:right;
  padding: 0%;
  margin: 0%;
  width: 70%;
  display: inline-block;
  cursor: pointer;
  font-size: 80%;
  height:70px;
  line-height: 70px;
}

.dingtr{
  display: block;
  color: #000;
  text-decoration: none;
  border-bottom: grey;
  color: #4b4b4b;
  height: 70px;
}
#navbar li.active{
  background-color: #efefef;
  border-top: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
}

#navbar a{
  color:black;
}

#navbar a:hover{
  color:grey;
}


#navbar a.active:hover{
  border-top: solid 1px #bdbdbd;
  border-bottom: solid 1px #bdbdbd;
}

#navbar li{
  visibility: hidden;
}

#id2{
  background-color: white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}
#id3{
  background-color: white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}
#id4{
  background-color: white;
  border-bottom: solid 1px white;
  border-top: solid 1px white;
}
#onHover1 li{
  cursor: pointer;
}
#onHover2 li{
  cursor: pointer;
}
#onHover3 li{
  cursor: pointer;
}
#sc{
  position: absolute;
  bottom: 0;
  width:100%;
  text-align: center;
  border-top: solid 1px #bdbdbd;
  background-color: #efefef;
}
#navsc{
  padding: 0%;
  margin: 0%;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 70%;
  display: inline-block;
  transform: translateY(-25%);
  transform: translateX(-15px);
  cursor: pointer;
  font-size: 80%;
}
#sc a{
  margin-left: 10%;
}


#sourceText{
  display: none;
  visibility: hidden;
  font-size: 50%;
  text-align: left;
  padding-left: 10%;
}

#niks{
  position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   position: fixed;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   z-index: 799;
   visibility: hidden;
   background-color: black;
   opacity: 0;
   transition: opacity 0.4s;
}


.anav{
  padding: 0%;
  margin: 0%;
  display: block;
  text-decoration: none;
}
.anav:hover{
  color: darkgrey;
  transition: color 0.3s;
}
@media (min-width: 480px) and (max-width: 1030px) {

  #navbar{
    width: 300px;
  }
  #navbar a{
    padding-left: 10%;
  }
  .navp{
    font-size: 89%;
  }
  #navsc{
    transform: translateX(-23px);
  }


}
@media (max-width: 480px){
  #picBoven{
    width: 50px;
  }
  .picNav{
    width: 45px;
  }
  #navbar{
    width: 280px;
    font-size: 150%;
  }
  .navp{
    font-size: 110%;
  }
  #navbar a{
    padding-left: 10%;
  }
  #picBoven{
    padding-left: 20px;
    padding-top: 10px;
  }
  #sourceText{
    display: none;
    visibility: hidden;
    font-size: 50%;
    text-align: left;
    padding-left: 10%;

  }
  #navsc{
    transform: translateX(-25px);
  }

}
